/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  /* overflow-x: hidden; */
  /* background: url("../img/banner.jpg"); */
  text-align: center;
  font-family: 'DM Sans','Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  animation: myanimation 10s infinite;
}

@keyframes myanimation {
    0%{background-color: rgb(87, 11, 117);}
   25%{background-color: rgb(142, 15, 15);}
   50%{background-color: rgb(41, 44, 122);}
   75%{background-color: rgb(18, 86, 18);}
  100%{background-color: rgb(87, 11, 117);}
}

h1 {
  margin: 30px auto;
  color: #AFBED1;
  font-size: 4rem;
  letter-spacing: 10px;
}

div {
  width: 400px;
  margin: 0 auto;
  /* text-align: justify; */
}
.inputBox p {
  color: #EAC5D8;
}
textarea{
  display: block;
  margin: 10px auto 5px;
  height: 200px;
  width: 100%;
  background: #fff;
  border: 3px solid black;
}
button{
  background-color: steelblue;
  padding: 10px;
  color: #fff;
  
  cursor: pointer;
  font-weight: 500;
}
button:hover{
  opacity: 1;
}
.result{
  width: 50%;
  margin: 50px auto 10px;
  text-align: center;
  border: 4px solid steelblue;
  text-transform: capitalize;
}
h2 {
  color: #AFBED1;
}
.result p {
  color: #EAC5D8;
}
textarea,
button,
.result{
  border-radius: 5px;
}
.hidden{
  display: none;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
